{% extends 'base.html' %}   
{% load static %}
{% block header %}
     
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5 rounded-circle size-1" src="{% static 'assets/img/udit2.png'%}" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">UDIT BHATI</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Coder - Web Developer - Learner</p>
            </div>
        </header>   
        
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="{% url 'main:home' %}"><i class="fa fa-chevron-up"></i></a>
        </div>
   
        {% if send %}
        <script>
            console.log("no error");
            sweetAlert("Sent!", "I'll get back to you soon!", "success");
        </script>
        {% elif error %}
        <script>
            console.log("error");
            sweetAlert("Error!", "Wrong inputs!", "error");
        </script>
        {%endif%}
{%endblock%}