{% extends 'base.html' %}   
{% load static %}
{% block header %}

  <!-- Portfolio Section-->
  <section class="page-section portfolio" id="portfolio">
    <div class="container mt-5">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Projects</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        {% for item in obj %}
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-4 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{item.id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" style="width:400px;height:400px;" src="{% static 'assets/img/portfolio/'|add:item.image|add:'.png' %}" {{ item.image }} alt="..." />
                    <p class="mb-5 text-center">{{item.name}}</p>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% for item in obj %}
<div class="portfolio-modal modal fade" id="portfolioModal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
        
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal{{item.id}}Label">{{item.name}}</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/'|add:item.image|add:'.png' %}" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">{{item.details}}</p>
                            <!-- Portfolio Modal -Link -->
                            <a class="mb-5" href="{{item.link}}">Project Link</a>
                            <br>
                            <button class="btn btn-primary mt-5" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock%}